<div class="catalogue-container">
  <% @items.each do |item| %>
    <div class="item-card">
      <%= image_tag item.image_url, class: "item-image" %>
      <div class="item-info">
        <h3>Nom : <%=link_to item.name, item_path(item) %></h3>
        <p>Description : <%= item.description %></p>
        <p>Stock : <%= item.stock %>
        <p>Prix : <%= number_to_currency(item.price, unit: "€") %></p>
      </div>
    </div>
  <% end %>
</div>
